<ul class='nav'>

    <li><a {% if current_page == "home" %} class="active" {% endif %} href="{{ url_for('index') }}">Home</a></li>

    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
        <li><a {% if current_page == "login" %} class="active" {% endif %} href="{{ url_for('login') }}">Login</a></li>
        <li><a {% if current_page == "signup" %} class="active" {% endif %} href="{{ url_for('signup') }}">Sign Up</a></li>
    {% endif %}
</ul>
