<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    {% include "includes/head.html" %}
</head>

{% include "includes/nav.html" %}

<br/>

<div class='grid-container1' id='test'>
    <div class='profile'>
        <p class="profile-name">{{ user.first_name + " " + user.last_name }}</p>
        <p class="profile-username">@{{ user.username }}</p>
    </div>
    <div class="profile-info">
        <div class="image-cropper">
            <img src="{% if user.avatar %} {{ user.avatar }} {% else %} {{ avatars.default() }} {% endif %}"
                 alt="profile picture" class="profile-pic">
        </div>
        <p class="bio">{{ user.bio }}</p>
        <br/>
        {% if user == current_user %}
            <button class='button1'><a class='link' href="{{ url_for('edit_profile') }}">Edit</a></button>
        {% elif current_user.is_following(user) %}
            <button class='button1'><a class='link'
                                       href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></button>
        {% else %}
            <button class='button1'><a class='link' href="{{ url_for('follow', username=user.username) }}">Follow</a>
            </button>
        {% endif %}
        <br/>
    </div>


    <div class='container1 container2'>
        <div class='timeline'>
            <p class="profile-name timeline-name">Timeline</p>
            <div class='notifications'>
                <div style="  overflow:auto; height: 300px;">
                    {% for item in user.get_timeline() %}
                        <div class='notification-item'>
                            <p class='notes'>{{ item.body|safe }}</p>
                            <br/>
                            <p class='notif-text'>{{ moment(item.timestamp).calendar() }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <script>
                /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }

                function myFunction2() {
                    document.getElementById("myDropdown2").classList.toggle("show");
                }

                function listDissapear() {
                    document.getElementById("myDropdown").classList.toggle("unshow");
                }

                function filterFunction() {
                    var input, filter, ul, li, a, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    div = document.getElementById("myDropdown");
                    a = div.getElementsByTagName("a");
                    for (i = 0; i < a.length; i++) {
                        txtValue = a[i].textContent || a[i].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            a[i].style.display = "";
                        } else {
                            a[i].style.display = "none";
                        }
                    }
                }

            </script>

</html>