<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    {% include "includes/head.html" %}
</head>

{% include "includes/nav.html" %}


<div class='grid-container' id='test'>
    <div class='container'>
        <div class='grid-item'>
            <div class='todo-list'>
                <h3>To Do</h3>
                <form class='form' method="POST">
                    <div class='todo'>
                        <input type="text" class='title-input' placeholder="Title" autofocus name="title">
                        <br/>
                        <textarea class='notes-input' rows="4" placeholder="Notes" name="description"></textarea>
                        <button class='button2'>Add</button>
                    </div>
                </form>
                {% for todo in current_user.get_pending_todos() %}
                    <div class='todo-item' todo-id="{{ todo.id }}">
                        <input class='checkbox' type="checkbox"/>
                        <div class='todo-writing'>
                            <h2 class='heading' contentEditable="true">{{ todo.title }}</h2>
                            <button class='button4'>x</button>
                            <p class='notes' contentEditable="true">{{ todo.description }}</p>
                        </div>
                    </div>
                {% else %}
                    <p class='empty-message' id='todos-empty'>No todos</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class='container-feed'>
        <div class='grid-item'>
            <div class='feed'>
                <h3>Feed</h3>
                {% for item in current_user.get_feed() %}
                    <div class='feed-item' todo-id="{{ item.id }}">
                        <img class='profile-picture'
                             src='{% if item.get_creator().avatar %} {{ item.get_creator().avatar }} {% else %} {{ avatars.default() }} {% endif %}'
                             alt="Profile picture"/>
                        <div class='feed-writing'>
                            <div class='feed-heading'>
                                <h2 class='heading1'>{% if item.get_creator() != current_user %}
                                    {{ item.get_creator().get_formatted_name() }} {% else %} You {% endif %}</h2>
                                <div>
                                    <img
                                            src="{% if item.has_liked(current_user) %} {{ url_for('static', filename='heart2.png') }} {% else %} {{ url_for('static', filename='heart.png') }} {% endif %}"
                                            id="heartChange"
                                            style="height:15px; width: 15px; background-color:transparent;" alt="Heart">
                                </div>
                            </div>
                            <div class='task-item'>
                                <div class="check">
                                    <p class='notes'></div>
                                {{ item.title }} </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class='empty-message' id='feed-empty'>Nothing to show</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "includes/footer.html" %}
<script src="{{ url_for('static', filename='todo.js') }}"></script>

</html>